.pagina-contato > .container > p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 3rem auto;
}

/* A MUDANÇA ESTÁ AQUI EMBAIXO */
.form-contato {
    max-width: 700px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 2.5rem;
    border-radius: 8px;
    border: 1px solid #b6b6b6; /* Adicionei esta borda cinza clara */
}

.form-grupo {
    margin-bottom: 1.5rem;
}

.form-contato label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #343A40;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-contato input:focus,
.form-contato textarea:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: none !important; 
}

.form-contato button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-contato button:hover {
    background-color: #0056b3;
}